* {margin: 0; padding: 0;}

.bg-white {background-color: #fff;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.text-normal {font-weight: normal;}
.invisible {visibility: hidden;}


body {
    font-size: 1.5rem;    
    font-family: $Font;
    font-weight: lighter;
    background-color: $MainBack; 
    color: $MainColor;
    overflow-x: hidden;
}

section {
    position: relative;

    @include atLarge {
        min-height: 100vh;
    }
}

.animate {
    visibility: visible; 
    
    @include atMedium {
        visibility: hidden;
    }
}

a {
    color: $SimpleNavLink;

    &:hover {
        color: $Pink;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}

.baguetteBox-button:focus {
    outline: none;
}

.d-lg-grid {
    @include atLarge {
        display: grid !important;
    }
}

.iemessage {
    display: none;
}


