#home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $TitleFont;
    background-color: rgba(40,44,52,0.9);
    min-height: 100vh;

    &::before {
        content: "";
        position: absolute;
        background-color: $MainBack; 
        background-image: url("images/bghome-small.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    @include atSmall {
        &::before {
            background-image: url("images/bghome-medium.jpg");
        }
    }

    @include atLarge {
        background: none;

        &::before {
            background-color: $MainBack; 
            background-image: none;
            opacity: 0.9;
        }
    }
    

}