@mixin atSmall() {
    @media (min-width: 576px) {
       @content; 
    }
}

@mixin atMedium() {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin atLarge() {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin atSubLarge() {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin atSupLarge() {
    @media (min-width: 1680px) {
        @content;
    }
}


@mixin atExtraLarge() {
    @media (min-width: 1930px) {
        @content;
    }
}


@mixin clearfix {
    &::after {
        content: "";
        clear:both;
        display: table;
    }
}

