$DarkPink: rgb(204, 0, 85);
$DarkPink9: rgba(204,0,85,0.9);
$Pink: rgb(226, 6, 90);
$CodePink: rgb(255, 28, 104);
$LightPink: rgb(255, 211, 233);
$Subtitle: #9198a3;
$SimpleNavLink: #b6bac2;
$MainColor: #747b88;
$MainBack: #282c34;
$ContactBack: #21252b;
$Blue: #00b9f6;


$SpinTime: 2s;

$Font : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$TitleFont: Georgia, Times, Times New Roman, serif;
$CodeFont: Courier New, Courier, monospace;

// $DarkPink: rgb(204, 0, 102);
// $DarkPink9: rgb(204, 0, 102, 0.9);
// $Pink: rgb(226, 6, 116);
// $CodePink: rgb(255, 28, 141);
