.brand-logo {
    display: block;
    width: 46px;
    margin: 0 auto;

    &__image {
        width: 100%; 
        height: auto;

        &--right {
            max-height: 50px;

            @include atMedium {
                width: 80%;
                float: right;
                max-height: 420px;
            }
        }
    }

    @include atSmall {
        width: 62px;
    }

    @include atMedium {
        width: 78px;
    }

    @include atLarge {
        width: 92px;
    }

}