.large-title {
    color: #fff;    
    font-size: 1.8rem;
    font-family: $TitleFont;
    font-weight: normal;
    padding-bottom: 0.5rem;
    
    @include atLarge {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }

    @include atSupLarge {
        font-size: 4rem;
        padding-bottom: 2rem;
    }

    &--shrinked {
        position: relative;
        font-size: 1.8rem;
        padding: 0.5rem 0 0 0;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        
        @include atMedium {
            font-size: 2.2rem;
            padding: 1rem 0;
        }
        @include atLarge {
            font-size: 3rem;
            padding: 0.5rem 0 0 0;
        }

    }


    &--pink {
        color: $Pink;
    }

    &--light-pink {
        color: $LightPink;
    }

    &--blue {
        color: $Blue;
    }

    &--subtitle {
        color: $Subtitle;
    }

    &--contented {
        padding: 2rem 4rem;
        text-align:center;

        @include atLarge {
            text-align: left;
        }
    }

    &--colored {
        background-color: $ContactBack;
    }

    &--on-right {
        max-width: 560px;
        margin: 0 auto;
    }
}