/*----------------------------------*/
/* fullscreen-menu overlay */

#menuoverlay {
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    display: block;
  
    /* Overlay positioning */
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; /* Want a left- or right sided navigation instead? Just play around with the width! */
    height: 100%;
    z-index: 6;

    &::before {
        position: absolute;
        content:"";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $MainBack;
        opacity: 0.95;
        display: block;
        z-index: 4;
    }
  

  
    div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100vh;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  
    ul {
      position: relative;
      z-index: 7;
      list-style: none;
      margin: 0;
      padding: 0;
      color: white;
      text-align: center;
      width: 260px;
  
      @include atLarge {width: 360px;}
  
      
      li {
        list-style-type: none;
        font-size: 1.4rem;
        padding: 2px 0px;
        font-family: $TitleFont;
        a {
          color: #fff; 
          text-decoration: none; 
          padding: 12px 0px; 
          text-transform: uppercase;
          display: block;
          transition-duration: 0.5s;
          &:hover {
            // color: #fff;
            // background-color: $DarkPink;
            color: $CodePink; 
            transform: scale(1.3); 
            text-decoration: none;            
          }
        }

        @include atMedium {font-size: 1.6rem;}

        @include atLarge {font-size: 2rem;}
      }
    }
}
  
  
#nav-icon1 {
    right: 30px;
    top: 30px;
    position: fixed;
    margin: 0 auto;
    width: 30px;
    height: 26px;
    z-index: 10; /* Bring icon ontop of overlay */
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    span {
        position: absolute;
        display: block;
        width: 100%;
        height: 5px;
        background: $Pink;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 10px;
}

#nav-icon1 span:nth-child(3) {
    top: 20px;
}

#nav-icon1.animate-icon span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.animate-icon span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.animate-icon span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#nav-icon2 {
    right: 30px;
    bottom: 30px;
    position: fixed;
    margin: 0 auto;
    width: 30px;
    height: 26px;
    z-index: 4; /* Bring icon ontop of overlay */

    span{
        display: none;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: url(images/sipka.svg) center center no-repeat;

        a {
            display: block; 
            width: 100%;
            height: 100%;
        }

        @include atMedium {
            display: block;
        }
    }

}

