.popgallery {

    &--body-shrink {
        height: 0; 
        width: 0; 
        overflow: hidden;

        #baguetteBox-overlay {
            overflow-y: auto;
        }
        #baguetteBox-overlay .full-image {
            vertical-align:top
        }

        #baguetteBox-overlay .full-image img {
            max-width: 90%;
            max-height: inherit;
        }

        .baguetteBox-button {
            position: fixed;
        }

    }

    &__wrapper {
        height: 0;
        width: 0;
    }

    &__modal {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        background-color:  $MainBack;
        width: 100%; 
        height: 100%;

        &--hide {
            display: none;
        }
    }

    &__close {
        position: relative;
        background-color: $ContactBack;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        position: absolute;
        z-index: 101;
        width: 100%;
        
        &__button {
            padding: 0.6rem 2rem;
            display: inline-block;
            cursor: pointer;

            &::before {
                content:"";
                background: url("images/backarrow.svg") no-repeat 0px 0.25rem;
                width: 30px;
                height: 28px;
                display: block;
                float:left;
                top: 0;
                left: 0;
                position: relative;

            }
        }
    }

    &__title {
        float: right; 
        font-weight: 100;
        color: $Pink;
        font-style: normal;
        font-size: 1rem;
        padding: 0.7rem 2rem;
        
        
        @include atLarge {
            padding: 0.6rem 2rem;
            font-size: 1.2rem;
        }
    }

    &__content {
        position: absolute;
        height: 100%;
        overflow-y: auto;
        width: 100%;
        box-sizing: border-box;
        top: 0;
        left: 0;
        padding: 4rem 0.5rem 1rem 0.5rem;
        
        @include atMedium {
            padding: 4rem 1rem 1.5rem 1rem;
        }

        @include atLarge {
            padding: 4rem 2rem 2rem 2rem;
        }

        &--wrap {
            max-width: 1580px;
            margin: 0 auto;
        }

        div {
            padding: 0;
        }

    }

    &__thumb {
        padding: 1px;
        box-sizing: border-box;
        display: block;
        
        img {
            max-width: 100%;
            display: block;
        }
    }
}

