.spin {
	display: flex; 
	justify-content: center; 
	align-items:center;

	&__wrapper { }
	&__content { margin:0 auto; width: 120px; height: 130px; }

	&--stop {
		-webkit-animation-play-state:paused;
		-moz-animation-play-state:paused;
	}

	&__outerball {
		background-color: rgba(0,0,0,0);
		border:5px solid $Pink;
		opacity:.9;
		border-top:5px solid rgba(0,0,0,0);
		border-left:5px solid rgba(0,0,0,0);
		border-radius:50px;
		box-shadow: 0 0 35px $DarkPink;
		width:70px;
		height:70px;
		margin:0 auto;
		top: 30px;
		position: relative;
		-moz-animation:spin $SpinTime infinite linear;
		-webkit-animation:spin $SpinTime infinite linear;
	}

	&__innerball {
		background-color: rgba(0,0,0,0);
		border:5px solid $Pink;
		opacity:.9;
		border-top:5px solid rgba(0,0,0,0);
		border-left:5px solid rgba(0,0,0,0);
		border-radius:50px;
		box-shadow: 0 0 15px $DarkPink; 
		width:50px;
		height:50px;
		margin:0 auto;
		position:relative;
		top:-30px;
		-moz-animation:spinoff $SpinTime infinite linear;
		-webkit-animation:spinoff $SpinTime infinite linear;
	}

	&__counter {
		width:50px;
		height:50px;
		margin:0 auto;
		position:relative;
		top:-74px;
		text-align: center;
		font-family: $Font;
		font-weight: bold;
		color: $Pink;

	}

	&__skip {
		color: $Pink;

		&--big {
			padding: 0;
			margin: 0;
			line-height: 100%;
			font-size: 1.5rem;
			
			strong {
				font-weight: bold;
			}
		}

		&--small {
			padding: 0;
			margin: 0;
			font-size: 1rem;
			color: #fff;
		}
	}



	@-moz-keyframes spin {
		0% { -moz-transform:rotate(0deg); }
		100% { -moz-transform:rotate(360deg); }
	}
	@-moz-keyframes spinoff {
		0% { -moz-transform:rotate(0deg); }
		100% { -moz-transform:rotate(-360deg); }
	}
	@-webkit-keyframes spin {
		0% { -webkit-transform:rotate(0deg); }
		100% { -webkit-transform:rotate(360deg); }
	}
	@-webkit-keyframes spinoff {
		0% { -webkit-transform:rotate(0deg); }
		100% { -webkit-transform:rotate(-360deg); }
	}

}

